body {
background: url("Background3.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

body {
  font-family: "helveticaNeue-Light", "Helvetica Neue Light";
  font-weight: 400;
}

p {
  font-family: sans-serif;
  font-style: italic;
  color: lightblue;
  line-height: inherit;
  font-size: 20px;
}

.main {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 30px;
  height: 500px;
  width: 450px;
  margin: 400px auto;
}

.picture {
  height: 125px;
  border-radius: 50%;
}

.content {
font-family: serif;
    width: 300px;
    padding: 25px;
    margin: 300px auto;
}

.content h1 {
    color:white;
}
.nav {
  height: 40px;
  background-color:rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;



}

.nav ul {
margin: 0;
padding: 0;
color:white;


}

.nav ul li {
  list-style: none;
  color: white;


}

.nav ul li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 40px;
  color: white;
  font-size: 20px;



}

.nav ul li a:hover {
  color: lightblue;

}
